@charset "UTF-8";
header{
	position: fixed;
	top:0px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 100%;
	color:white;
	font-size: 30px;
	background-color: blue;
}
nav{
	position: fixed;
	top:50px;
	height: 30px;
	line-height: 30px;
	width: 100%;
	background-color:aqua;
}
section{
	position: fixed;
	top:80px;
	height: 100%;
	width: 100%;
}

footer{
	position: fixed;
	bottom:0px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 100%;
	color:white;
	background-color: blue;
}
